.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  background: rgba(0, 0, 0, 0.781) url('../../images/login-background-small.jpeg');
  background-blend-mode: darken;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.login-title {
  font-family: Cookie, serif;
  font-size: 4em;
  margin-bottom: 1em;
  font-weight: 400;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 80%;
}
