.meal-areas-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 0.8em 0.6em;
}

.meal-areas-container select {
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
  color: white;
  background: var(--secondary-blue-ish);
  border: none;
  border-radius: 0.4em;
}

.meal-areas-container select:focus-visible {
  outline: none;
}
