header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;
  background: var(--main-blue-ish);
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0.7em 1.3em;
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.4);
  z-index: 99;
}

.user-button {
  display: flex;
  justify-self: flex-start;
}

.search-section {
  justify-self: flex-end;
}

.search-icon {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.page-title {
  font-size: 1.3em;
  font-weight: 400;
}
