.category-button {
  background-color: var(--main-gray);
  border: none;
  border-radius: 0.4em;
  padding: 0.6em 0;
  width: 100%;
  color: var(--main-blue-ish);
  box-sizing: border-box;
  cursor: pointer;
}

.active-filter {
  background: var(--light-orange);
  box-shadow: 0 0 0 0.1em var(--main-orange);
  color: var(--main-orange);
}
