:root {
  --main-orange: #f55a00;
  --light-orange: #f6c7af;
  --main-blue-ish: #1f222b;
  --secondary-blue-ish: #292d39;
  --tertiary-blue-ish: #303544;
  --main-gray: #f7f8fe;
  --background-filter: #0000004d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arimo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
