.recipes-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-top: 130em; */
  background: var(--main-blue-ish);
  padding: 0.6em;
  gap: 0.6em;
}

.recipe-list {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
