.recipes-content {
  width: 100%;
  /* margin-top: 130em; */
  background: var(--main-blue-ish);
}

.recipe-list {
  display: grid;
  gap: 1em;
  padding: 0 0.5em;
  margin-bottom: 1em;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
